In [1]:
import pandas as pd

 1.  Create a DataFrame, `ha_costs_df`, from the `mmd_heart_attack_data.csv` file.
 
		- Examine the first 5 rows and the last five rows of the TN heart attack data.
		- Check the data types of each column by using `.info`.
		- Keep only the rows where facilities are in TN.
		- Print the dimensions of the resulting dataframe.
		- How many TN counties are represented in the heart attack costs data?
		- How many counties are classified as urban? How many as rural?

In [3]:
ha_costs_df = pd.read_csv('../data/mmd_heart_attack_data.csv')

In [4]:
ha_costs_df.head(5)

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
0,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1001,Autauga County,ALABAMA,Urban,All,undefined,40470
1,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1003,Baldwin County,ALABAMA,Rural,All,undefined,36615
2,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1005,Barbour County,ALABAMA,Rural,All,undefined,46509
3,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1007,Bibb County,ALABAMA,Urban,All,undefined,42949
4,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1009,Blount County,ALABAMA,Urban,All,undefined,50067

In [5]:
ha_costs_df.tail(5)

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
2651,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72097,Mayaguez Municipio,PUERTO RICO,Urban,All,undefined,28128
2652,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72113,Ponce Municipio,PUERTO RICO,Urban,All,undefined,26403
2653,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72125,San German Municipio,PUERTO RICO,Urban,All,undefined,26398
2654,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72127,San Juan Municipio,PUERTO RICO,Urban,All,undefined,36599
2655,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72139,Trujillo Alto Municipio,PUERTO RICO,Urban,All,undefined,26676

In [8]:
tn_ha_costs = ha_costs_df.loc[ha_costs_df['state'] == 'TENNESSEE']

In [10]:
tn_ha_costs.shape

(91, 17)

In [11]:
tn_ha_costs['county'].nunique()

91

In [12]:
tn_ha_costs['urban'].value_counts()

Rural    53
Urban    38
Name: urban, dtype: int64

2.  Create a DataFrame, `cancer_costs_df`, from the `mmd_cancer_data.csv` file.
 
		- Look at the head and tail of the DataFrame.
		- Keep only the rows where facilities are in TN.
		- Print the dimensions of the data. How many TN counties are represented in the cancer costs data?
		- You should have found that the datasets have a different number of counties. 
        Bonus: Can you figure out which counties are missing from one of the datasets?

In [14]:
cancer_costs_df = pd.read_csv('../data/mmd_cancer_data.csv')

In [18]:
cancer_costs_df.head()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
0,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1001,Autauga County,ALABAMA,Urban,All,undefined,19293
1,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1003,Baldwin County,ALABAMA,Rural,All,undefined,17151
2,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1005,Barbour County,ALABAMA,Rural,All,undefined,19469
3,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1007,Bibb County,ALABAMA,Urban,All,undefined,17234
4,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1009,Blount County,ALABAMA,Urban,All,undefined,20317

In [16]:
cancer_costs_df.tail()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
3160,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72145,Vega Baja Municipio,PUERTO RICO,Urban,All,undefined,7364
3161,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72147,Vieques Municipio,PUERTO RICO,Rural,All,undefined,9987
3162,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72149,Villalba Municipio,PUERTO RICO,Urban,All,undefined,24127
3163,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72151,Yabucoa Municipio,PUERTO RICO,Urban,All,undefined,8008
3164,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72153,Yauco Municipio,PUERTO RICO,Urban,All,undefined,11171

In [22]:
TN_cancer_cost_df = cancer_costs_df.loc[cancer_costs_df['state'] == 'TENNESSEE']

In [23]:
%who

TN_cancer_cost_df	 cancer_costs_df	 ha_costs_df	 pd	 tn_ha_costs

In [24]:
TN_cancer_cost_df.shape

(95, 17)

In [26]:
TN_cancer_cost_df['county'].nunique()

95

In [29]:
TN_cancer_cost_df.loc[~TN_cancer_cost_df["county"].isin(tn_ha_costs['county'])]['county']

2429      Hancock County
2459        Moore County
2464      Pickett County
2483    Van Buren County
Name: county, dtype: object

In [30]:
TN_cancer_cost_df.county.unique()

array(['Anderson County', 'Bedford County', 'Benton County',
       'Bledsoe County', 'Blount County', 'Bradley County',
       'Campbell County', 'Cannon County', 'Carroll County',
       'Carter County', 'Cheatham County', 'Chester County',
       'Claiborne County', 'Clay County', 'Cocke County', 'Coffee County',
       'Crockett County', 'Cumberland County', 'Davidson County',
       'Decatur County', 'DeKalb County', 'Dickson County', 'Dyer County',
       'Fayette County', 'Fentress County', 'Franklin County',
       'Gibson County', 'Giles County', 'Grainger County',
       'Greene County', 'Grundy County', 'Hamblen County',
       'Hamilton County', 'Hancock County', 'Hardeman County',
       'Hardin County', 'Hawkins County', 'Haywood County',
       'Henderson County', 'Henry County', 'Hickman County',
       'Houston County', 'Humphreys County', 'Jackson County',
       'Jefferson County', 'Johnson County', 'Knox County', 'Lake County',
       'Lauderdale County', 'Lawrence County', 'Lewis County',
       'Lincoln County', 'Loudon County', 'McMinn County',
       'McNairy County', 'Macon County', 'Madison County',
       'Marion County', 'Marshall County', 'Maury County', 'Meigs County',
       'Monroe County', 'Montgomery County', 'Moore County',
       'Morgan County', 'Obion County', 'Overton County', 'Perry County',
       'Pickett County', 'Polk County', 'Putnam County', 'Rhea County',
       'Roane County', 'Robertson County', 'Rutherford County',
       'Scott County', 'Sequatchie County', 'Sevier County',
       'Shelby County', 'Smith County', 'Stewart County',
       'Sullivan County', 'Sumner County', 'Tipton County',
       'Trousdale County', 'Unicoi County', 'Union County',
       'Van Buren County', 'Warren County', 'Washington County',
       'Wayne County', 'Weakley County', 'White County',
       'Williamson County', 'Wilson County'], dtype=object)

In [31]:
tn_ha_costs.county.unique()

array(['Anderson County', 'Bedford County', 'Benton County',
       'Bledsoe County', 'Blount County', 'Bradley County',
       'Campbell County', 'Cannon County', 'Carroll County',
       'Carter County', 'Cheatham County', 'Chester County',
       'Claiborne County', 'Clay County', 'Cocke County', 'Coffee County',
       'Crockett County', 'Cumberland County', 'Davidson County',
       'Decatur County', 'DeKalb County', 'Dickson County', 'Dyer County',
       'Fayette County', 'Fentress County', 'Franklin County',
       'Gibson County', 'Giles County', 'Grainger County',
       'Greene County', 'Grundy County', 'Hamblen County',
       'Hamilton County', 'Hardeman County', 'Hardin County',
       'Hawkins County', 'Haywood County', 'Henderson County',
       'Henry County', 'Hickman County', 'Houston County',
       'Humphreys County', 'Jackson County', 'Jefferson County',
       'Johnson County', 'Knox County', 'Lake County',
       'Lauderdale County', 'Lawrence County', 'Lewis County',
       'Lincoln County', 'Loudon County', 'McMinn County',
       'McNairy County', 'Macon County', 'Madison County',
       'Marion County', 'Marshall County', 'Maury County', 'Meigs County',
       'Monroe County', 'Montgomery County', 'Morgan County',
       'Obion County', 'Overton County', 'Perry County', 'Polk County',
       'Putnam County', 'Rhea County', 'Roane County', 'Robertson County',
       'Rutherford County', 'Scott County', 'Sequatchie County',
       'Sevier County', 'Shelby County', 'Smith County', 'Stewart County',
       'Sullivan County', 'Sumner County', 'Tipton County',
       'Trousdale County', 'Unicoi County', 'Union County',
       'Warren County', 'Washington County', 'Wayne County',
       'Weakley County', 'White County', 'Williamson County',
       'Wilson County'], dtype=object)

3. Create a DataFrame, income_df, from the irs_county_2016.csv file.
 * Keep only the data that pertains to Tennessee.
 * Look at the head and the tail.
 * Print the shape.
 * Keep only the following columns: ['STATE', 'COUNTYNAME', 'agi_stub', 'N1', 'mars1',
'MARS2', 'MARS4', 'N2', 'NUMDEP', 'ELDERLY', 'A00100', 'N02650', 'A02650',
'N02300', 'A02300']
 * rename those columns:
['state', 'county', 'income_bucket', 'return_count',
'single_returns', 'joint_returns', 'head_of_house_returns', 'exemptions', 'dependents',
'elderly', 'agi', 'returns_with_total_inc','total_inc_amt', 'returns_with_unemployment',
'unemployment_comp']

In [33]:
income_df = pd.read_csv('../data/irs_county_2016.csv')

In [34]:
income_df.head()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,Alabama,1,26450,14680,9740,680,17780,...,4300,9256,70,57,0,0,2590,3685,11510,35079
1,1,AL,0,Alabama,2,285760,217880,25170,39740,143390,...,70050,40569,0,0,0,0,22720,11109,237630,263152
2,1,AL,0,Alabama,3,529780,259680,80320,181410,297440,...,297770,290358,0,0,0,0,41330,40647,474140,1569463
3,1,AL,0,Alabama,4,495750,211100,141800,127420,272030,...,397940,983800,40,22,0,0,73880,110840,415850,1173195
4,1,AL,0,Alabama,5,263130,82330,137610,35760,154540,...,252940,1346083,20,27,0,0,63240,140446,194790,542205

In [35]:
income_df.tail()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
25531,56,WY,45,Weston County,4,610,310,210,70,380,...,540,1559,0,0,0,0,100,188,490,1377
25532,56,WY,45,Weston County,5,460,150,270,40,300,...,440,2548,0,0,0,0,90,249,360,1111
25533,56,WY,45,Weston County,6,460,90,330,40,310,...,450,4072,0,0,0,0,100,333,340,1251
25534,56,WY,45,Weston County,7,460,40,420,0,320,...,460,7958,0,0,0,0,180,907,260,1045
25535,56,WY,45,Weston County,8,90,0,80,0,80,...,90,7195,0,0,50,146,50,2257,30,377

In [36]:
income_df.shape

(25536, 148)

In [40]:
income_tn = income_df.loc[income_df['STATE'] == 'TN']

In [38]:
income_df.columns.values

array(['STATEFIPS', 'STATE', 'COUNTYFIPS', 'COUNTYNAME', 'agi_stub', 'N1',
       'mars1', 'MARS2', 'MARS4', 'PREP', 'N2', 'NUMDEP', 'TOTAL_VITA',
       'VITA', 'TCE', 'VITA_EIC', 'RAL', 'RAC', 'ELDERLY', 'A00100',
       'N02650', 'A02650', 'N00200', 'A00200', 'N00300', 'A00300',
       'N00600', 'A00600', 'N00650', 'A00650', 'N00700', 'A00700',
       'N00900', 'A00900', 'N01000', 'A01000', 'N01400', 'A01400',
       'N01700', 'A01700', 'SCHF', 'N02300', 'A02300', 'N02500', 'A02500',
       'N26270', 'A26270', 'N02900', 'A02900', 'N03220', 'A03220',
       'N03300', 'A03300', 'N03270', 'A03270', 'N03150', 'A03150',
       'N03210', 'A03210', 'N03230', 'A03230', 'N03240', 'A03240',
       'N04470', 'A04470', 'A00101', 'N17000', 'A17000', 'N18425',
       'A18425', 'N18450', 'A18450', 'N18500', 'A18500', 'N18800',
       'A18800', 'N18300', 'A18300', 'N19300', 'A19300', 'N19500',
       'A19500', 'N19530', 'A19530', 'N19550', 'A19550', 'N19570',
       'A19570', 'N19700', 'A19700', 'N20800', 'A20800', 'N21020',
       'A21020', 'N04800', 'A04800', 'N05800', 'A05800', 'N09600',
       'A09600', 'N05780', 'A05780', 'N07100', 'A07100', 'N07300',
       'A07300', 'N07180', 'A07180', 'N07230', 'A07230', 'N07240',
       'A07240', 'N07220', 'A07220', 'N07260', 'A07260', 'N09400',
       'A09400', 'N85770', 'A85770', 'N85775', 'A85775', 'N09750',
       'A09750', 'N10600', 'A10600', 'N59660', 'A59660', 'N59720',
       'A59720', 'N11070', 'A11070', 'N10960', 'A10960', 'N11560',
       'A11560', 'N06500', 'A06500', 'N10300', 'A10300', 'N85530',
       'A85530', 'N85300', 'A85300', 'N11901', 'A11901', 'N11902',
       'A11902'], dtype=object)

In [41]:
income_tn = income_tn[['STATE', 'COUNTYNAME', 'agi_stub', 'N1', 'mars1',
'MARS2', 'MARS4', 'N2', 'NUMDEP', 'ELDERLY', 'A00100', 'N02650', 'A02650',
'N02300', 'A02300']]

In [ ]:
#TN_income.loc[ : , ['STATE', 'COUNTYNAME', 'agi_stub', 'N1', 'mars1', 'MARS2', 'MARS4', 'N2', 'NUMDEP', 'ELDERLY', 'A00100', 'N02650', 'A02650', 'N02300', 'A02300']]

In [42]:
income_tn.columns = ['state', 'county', 'income_bucket', 'return_count', 'single_returns', 'joint_returns', 'head_of_house_returns', 'exemptions', 'dependents', 'elderly', 'agi', 'returns_with_total_inc','total_inc_amt', 'returns_with_unemployment', 'unemployment_comp']

In [45]:
income_tn.head()

,state,county,income_bucket,return_count,single_returns,joint_returns,head_of_house_returns,exemptions,dependents,elderly,agi,returns_with_total_inc,total_inc_amt,returns_with_unemployment,unemployment_comp
19752,TN,Tennessee,1,39580,22400,14440,980,60360,8230,19090,-2747555,29090,-2710342,90,348
19753,TN,Tennessee,2,439770,345410,39920,49300,443540,108380,74190,2366417,439780,2441687,4830,12132
19754,TN,Tennessee,3,717430,398720,115040,189290,1269420,472350,141070,12289681,717430,12486175,19660,58771
19755,TN,Tennessee,4,759340,355970,217710,159890,1486710,512170,154020,27370414,759340,27694026,19120,57012
19756,TN,Tennessee,5,396810,128390,215890,42240,881020,268500,106740,24350682,396810,24651803,10630,33894

In [51]:
TN_income = income_df.loc[income_df['STATE'] == 'TN']

      state         county
19752    TN      Tennessee
19753    TN      Tennessee
19754    TN      Tennessee
19755    TN      Tennessee
19756    TN      Tennessee
...     ...            ...
20515    TN  Wilson County
20516    TN  Wilson County
20517    TN  Wilson County
20518    TN  Wilson County
20519    TN  Wilson County

[768 rows x 2 columns]

In [52]:
income_df['STATE'] == 'TN'

0        False
1        False
2        False
3        False
4        False
         ...
25531    False
25532    False
25533    False
25534    False
25535    False
Name: STATE, Length: 25536, dtype: bool